<Project>
	<ItemGroup>
        <PluginFolder Include="C:\Steam\steamapps\Schedule I\BepInEx\plugins" Condition="'$(BEPINEX)' != ''" />
        <PluginFolder Include="C:\Steam\steamapps\Schedule I\Mods" Condition="'$(MELONLOADER)' != ''" />
		<!-- Add more if necessary -->
	</ItemGroup>

	<PropertyGroup>
		<ManagedFolder>C:\Steam\steamapps\Schedule I\Schedule I_Data\Managed</ManagedFolder>
	</PropertyGroup>
</Project>
